/* App.css */

/* General styles for the application */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.chart-container {
  display: flex;
  flex-direction: row; /* Align charts horizontally */
  justify-content: space-around; /* Space between charts */
  margin: 20px;
}

.chart-container > div {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px; /* Set max width for charts */
  height: 400px; /* Fixed height */
  transition: background-color 0.3s;
}

body.dark-mode .chart-container > div {
  background-color: #444;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #0056b3;
}
